<table class="table table-hover">
    <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>User Id</th>
                <th>State</th>
                <th>Ctreated at</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let issue of issues | paginate: { id: 'listing_pagination',
              itemsPerPage: 5,
              currentPage: pageNumber,
              totalItems: totalRecords }">
                <td>{{issue.title}}</td>
                <td>{{issue.user.id}}</td>
                <td>{{issue.state}}</td>
                <td>{{issue.created_at}}</td>
              </tr>

            </tbody>
              
          </table>
          <div>
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="pageNumber=$event"></pagination-controls>
          </div>
    
    
  </table>
